/**********************************************************
FONTS
**********************************************************/
@font-face {
  font-family: 'PFT';
  src: url('PFT/PFTempestaFiveExtended.eot?#iefix') format('embedded-opentype'),  url('PFT/PFTempestaFiveExtended.woff') format('woff'), url('PFT/PFTempestaFiveExtended.ttf')  format('truetype'), url('PFT/PFTempestaFiveExtended.svg#PFTempestaFiveExtended') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: 'Destroy';
    src: url('Destroy/Destroy_.ttf');
}

@font-face {
    font-family: 'horse';
    src: url('horsepuke/horsepuke.ttf');
}

@font-face {
    font-family: 'impact';
    src: url('Impact-Label/Impact_Label.ttf');
}


@font-face { font-family: 'HACKED'; src: url('hacked/HACKED.eot?#iefix') format('embedded-opentype'), url('hacked/HACKED.woff') format('woff'), url('hacked/HACKED.ttf') format('truetype'), url('hacked/HACKED.svg#HACKED') format('svg'); font-weight: normal; font-style: normal; }

@font-face {
  font-family: 'Shrapnel';
  src: url('Shrapnel/Shrapnel.eot?#iefix') format('embedded-opentype'),  url('Shrapnel/Shrapnel.otf')  format('opentype'),
	     url('Shrapnel/Shrapnel.woff') format('woff'), url('Shrapnel/Shrapnel.ttf')  format('truetype'), url('Shrapnel/Shrapnel.svg#Shrapnel') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*******************************************************
MAIN ELEMENT STYLES
*******************************************************/

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
	
}

# menu ul {
  
  z-index: 9;
}

#menu li {
    
    list-style: none;
}

.overlay {
    
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0px;
      left: 0px;
      background: url('../img/pattern2.png') repeat top left;
      opacity: .4;
}

body {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background: grey;
    min-height: 100vh;
    
}


header {
  background: url('../img/wall.jpg')no-repeat;
  background-size: cover;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 200px;
  position: relative;
    
    
}



header h1,
h3 {
    
    text-align: center;
    font-family: 'HACKED';
    z-index: 10;
}

header h1 {
    margin: 50px 0 0 0;
    font-size: 4em;
    
}


header h3 {

    font-size: 1.3em;
    height: 10%;
}

.wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  left: 0;
  margin: 0;
  flex: 1;
  width: 100%;
}



#content {
  width: 100%;
  height: auto;
}

#container {
  width: 100%;
  
	
}

#home {
  display: inline-block;
  
}

.intro {
    text-align: center;
    position:relative;
    font-family: 'PFT', sans-serif;
    font-size: 1.2em;
    margin: 10px 30px 10px 30px;
    padding: 10px;
    background-color: dimgrey;
}

.intro p {
    position: relative;
    z-index: 2;
}



#menu  {
  font-family: hacked;
  font-size: 2em;
  line-height: 1.5;
  height: auto;
  background: linear-gradient(to bottom, dimgrey 10%, transparent);
  /* left: -300px;*/
	padding-top: 2%;
  padding-right: 10%;
  position: relative;
  }




footer {
    font-family: 'hacked', sans-serif;
    text-align: center;
    margin: 0 auto;
	width: 100%;
  }

footer h2 {
	font-size: 1.5rem
}

a:hover, a:visited, a:link, a:active
{
    color: inherit;
	text-decoration: none;
}

/***********************************************
            Mobile Navigation Menu
***********************************************/

.nav_menu {
  font-family: 'destroy';
  font-size: .2em;
  cursor: pointer;
  position: relative;
 
  align-items: center;
  background-color: rgba(100, 96, 96, .6);
  width: 120px;
  margin-top: 18px;
  padding-left: 0.5rem;
  z-index: 9;
  
}

.nav_menu:hover {
    background-color: dimgrey;
}

.button  {
  padding-top: 6px;
   width: 20px;
}

.nav {
  width: 90px;
    padding-left: 6px;
    padding-top: 9px;
    overflow: hidden;
    position: relative;
    z-index: 4;
  float: right;
}



/***********************************************
            Image Styles
***********************************************/


.biopic {
    background: url('../img/Attachment-1.jpeg')no-repeat 50% 0;
    background-size: 100% auto;
    background-position: center;
    margin: 10px;
    position: relative;
    
    float: left;
    padding-top: 27.5%;
    width: 50%;
    z-index: 1;
	

    
}

.biopic:hover {
    background: url('../img/distort.jpg')center no-repeat;
    background-size: cover;
    
}



#thumbnails {
	list-style: none;
  margin: 20% auto;
  padding: 0;
  display: block;
  max-width: 100%;
  text-align: center;
  position: relative;
}

#thumbnails li {
  display: inline-block;
  padding: 8px;
  background: black;
  margin: 10px;
  width: 20%;
  
}

#thumbnails li img {
  display: block;
  width: 100%
  
  
}



/***********************************************
            Music Page
***********************************************/

.music {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: dimgrey;
  width: 90%;
  margin: 5% auto;
  
}

iframe {
    margin: 0 auto;
    padding: 20px
}


/***********************************************
            Input Page
***********************************************/

.hey {
    position: relative;
    background-color: dimgray;
    display: block;
    height: 100px;
    width: 80%;
    margin: 20px auto;
}

.form {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 0 auto;
    justify-content: space-around;
    position: relative;
    height: 200px;
    width: 80%
}

#input {
    background-color: dimgray;
    width: 40%;
    height: auto;
	
}
    


#output {
    position: relative;
	width: 40%;
    background-color: dimgray;
    
}

/***********************************************
            Button Styles
***********************************************/

.click {
    background-color: aliceblue;
    
}

/***********************************************
            Canvas Page
***********************************************/

.animation {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#my_canvas {
    z-index: -5 ;
    position: absolute;
    width: 100%;
    height: 6em;
    
    


   
}

#my_canvas: hover {
	display: inline-block;
    position: absolute;
    display: none;
}

#canvas1 {
  position: relative;
  width: 100%;
  height: 100%;
    
	
}

#canvas2 {
    position: absolute;
    top: 0;
    left: 0;
}


/***********************************************
            Social Media Icons
***********************************************/

.social {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
	width: 100%;
	padding-bottom: .5rem;
    
    
}


.twitter {
    
    background: url('../img/social/03-twitter.svg') center no-repeat;
    position: relative;
    background-size: contain;
    width: 30px;
    height: 5%;
    padding-bottom: 8%;
  margin: 3%;
}

.twitter a {
	position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none;
    z-index: 10;
    background-color: #fff;
    opacity: 0;
}

.insta a {
	position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none;
    z-index: 10;
    background-color: #fff;
    opacity: 0;
}

.twitter a {
	position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none;
    z-index: 10;
    background-color: #fff;
    opacity: 0;
}

.linkdin a {
	position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none;
    z-index: 10;
    background-color: #fff;
    opacity: 0;
}

.github a {
	position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none;
    z-index: 10;
    background-color: #fff;
    opacity: 0;
}






.insta {
    background: url('../img/social/38-instagram.svg') center no-repeat;
    background-size: contain;
    position: relative;
    width: 30px;
    height: 0;
    margin: 3%;
    padding-bottom: 8%
}



.linkdin {
    background: url('../img/social/11-linkedin.svg') center no-repeat;
   background-size: contain;
    width: 30px;
    height: 0;
    margin: 3%;
    padding-bottom: 8%;
}

.github {
    background: url('../img/41-github.svg') center no-repeat;
    background-size: contain;
    width: 30px;
    height: 0;
    padding-bottom: 8%;
  margin: 3%;
}



/***********************************************
            Animations
***********************************************/

.overlay {
    animation: pulse 2s infinite;
    animation-direction: alternate-reverse;
}

@keyframes pulse {
   0% {
       opacity: .6;
    }
    
    100% {
        opacity: .2;
    }
    
}

/***********************************************
            Media Queries
***********************************************/

@media screen and ( min-width: 56em ) {
    
   .wrapper {
        display: block;
    }
    
    .nav_menu {
        display: none;
}
  #menu { 
  
      position: relative;
      left: 0;
      width: 100%;
      height: auto;
      padding: 0;
}
    
    #menu ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        margin: 0 auto;
      padding: 0;
    }   
  
  .social {
    width: 50%;
  }
  
}
