
@font-face {
  font-family: 'PFTempestaFiveExtended';
  src: url('PFTempestaFiveExtended.eot?#iefix') format('embedded-opentype'),  url('PFTempestaFiveExtended.woff') format('woff'), url('PFTempestaFiveExtended.ttf')  format('truetype'), url('PFTempestaFiveExtended.svg#PFTempestaFiveExtended') format('svg');
  font-weight: normal;
  font-style: normal;
}
