
@font-face {
  font-family: 'Shrapnel';
  src: url('Shrapnel.eot?#iefix') format('embedded-opentype'),  url('Shrapnel.otf')  format('opentype'),
	     url('Shrapnel.woff') format('woff'), url('Shrapnel.ttf')  format('truetype'), url('Shrapnel.svg#Shrapnel') format('svg');
  font-weight: normal;
  font-style: normal;
}
